<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Digite o nome" />
            <small>Mensagem de erro.</small>
        </div>
    </div>
    <div class="col-md-4">
        <button type="submit"
                class="btn btn-default btn-theme-orange btn-block btn-outline">
            Pesquisar
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">


        <!-- Tabelas -->

        <div class="tabelas table-responsive">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                    @foreach (var item in (List<PedidoProduto.Entities.Produto>)ViewBag.produtos)
                    {
                        <tr>
                            <th scope="row">@item.ID</th>
                            <td>@item.nome</td>
                            <td>1</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


       
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <button type="submit" class="btn btn-default btn-theme-orange">Enviar</button>
    </div>
</div>
